/* Code tidied up by ScrapBook */
._56q9 { font-size: 14px; line-height: 1.358; overflow-wrap: break-word; }
@media (max-width: 480px) {
}
._2392 { margin-bottom: 24px; }
._4uyl ._1cb { border: 1px solid rgb(211, 214, 219); overflow-wrap: break-word; }
._1zz7 ._1u9t, ._1zz6 ._1u9t { min-height: 48px; }
._1u9t { box-sizing: border-box; vertical-align: top; width: 100%; }
._4uyl ._5yk2, ._4uyl ._1u9t { font-size: 16px; padding: 12px 8px; }
@media (max-width: 480px) {
}
._5lm5 { border-top: 1px solid rgb(233, 235, 238); font-size: 11px; }
._491z { border-bottom: 1px solid rgb(233, 235, 238); line-height: 25px; margin-bottom: 24px; padding: 8px 0px; }
._pup { color: rgb(75, 79, 86); }
@media (max-width: 480px) {
}
._1ci { height: 48px; width: 48px; }
@media (max-width: 480px) {
  ._1ci, ._1cj { height: 32px; width: 32px; }
}
._4cqr { position: relative; }
._4cqr::after { content: "\a "; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
